.album {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 20vh;
	grid-template-areas: "s a"
	                     "p p";
	grid-gap: 5vw;
	justify-content: center;
}

#album-cover-art {
  height: auto;
  width: 100%;
	box-shadow: 5px 5px 5px black;
}

#song-list {
	grid-area: s;
	font-size: 2.5vw;
	max-width: 85%;
	height: auto;
	align-self: center;
}

#album-info {
	grid-area: a;
}

.pb {
	grid-area: p;
}

.album-details {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2vh;
}


td {
  padding: 1vw;
  text-align: center;
  border-bottom: 1px solid #e33984;
}
